<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- init-method：指定初始化的方法
         destroy-method：指定销毁的方法 -->
    <bean id="student" class="org.example.lifeCycle.Student" init-method="initStudent" destroy-method="destroyStudent">
        <property name="name" value="li"></property>
    </bean>

    <!-- 配置bean的后置处理器,不需要id，IoC容器自动识别是一个BeanPostProcessor -->
    <bean class="org.example.lifeCycle.MyBeanPostProcessor"></bean>
</beans>